---
layout: default
---

{%- include content/content_assigns.html -%}

<div class="arka arka__content arka__content--body container my-4">
  <div class="row arka__content arka__content--body container">
	<div class="col">
		{{ content_only | markdownify }}		
	</div>
  </div>

{% for post in site.posts %}
    {% if post.image %}
      {% assign image_url = post.image.url %}
      {% assign image_alt = "Feature image for blog post: " %}
    {% else %}
      {% assign image_url = "/assets/images/posts/arka_blog_default.png" %}
      {% assign image_alt = "Default feature image for blog post: " %}
    {% endif %}
    <a href="{{ site.baseurl }}{{ post.url }}">
        <div class="row py-2 my-2">
            <div class="col-2">
                <img src="{{ site.baseurl }}{{ image_url }}" alt="{{ image_alt }}{{ post.title }}" class="img-thumbnail img-fluid">
            </div>
            <div class="col-10">
                <h2 style="color: var(--arka-color-link);">
					{{ post.title }}
                </h2>
                <small class="arka__tagline d-block text-secondary text-uppercase fs-6">
                    {{ post.date | date: "%Y-%m-%d" }}
                    <br/>
                    {%- include content/authors.html post=post -%}
                </small>
            </div>
        </div>
    </a>
{% endfor %}

  <!-- Pagination links -->
  <ul class="pagination">
  </ul>
</div>
